.singleItemPlace {
  .listItem {
    width: 300px;
    height: 150px;
    background-color: var(--main-color);
    overflow: hidden;
    color: white;
    position: relative;
    text-align: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 7px;
    }

    .supportSub {
      position: absolute;
      font-size: 14px;
      left: 0;
      margin-left: 5px;
      margin-top: 5px;
      color: blue;
      background-color: rgb(221, 211, 211, 0.8);
      border-radius: 5px;
      padding: 3px;
    }
    &:hover {
      z-index: 20;
      .supportSub {
        display: none;
      }
      img {
        position: absolute;
        z-index: -10;
        opacity: 0.2;
        transition: 0.5s ease-in-out;
        transform: scale(1.2);
      }
      .itemInfo {
        .icons {
          display: flex;

          justify-content: center;
          margin-top: 30px;
          margin-bottom: 10px;
          .btnPlayFromListItem {
            background-color: transparent;
            cursor: pointer;
            border: 2px solid white;
            border-radius: 50%;
            margin-right: 10px;
            color: white;
            transition: 0.5s;
            &:hover {
              transform: scale(1.3);
              border: 2px solid orange;
              .iconPlay {
                color: orange;
              }
            }
          }

          .btnReviewFromListItem {
            position: absolute;
            right: 0;
            top: 0;
            background-color: transparent;
            cursor: pointer;
            border: none;
            border-radius: 50%;
            margin-right: 10px;
            color: white;
            transition: 0.5s;
            &:hover {
              transform: scale(1.3);
              .iconWatch {
                color: #3b5999;
              }
            }
          }
        }
        .itemInfoTop {
          display: flex;
          font-size: 14px;
          font-weight: 600;
          color: gray;
          justify-content: space-around;

          .limit {
            border: 1px solid red;
            padding: 1px 3px;

            color: red;
          }
          .year {
            color: white;
          }
          .duration {
            color: white;
          }
          .imdb {
            display: flex;
            color: yellow;
          }
          .genre {
            color: white;
          }
        }
        .title {
          font-size: 14px;

          font-weight: bold;
          color: orange;
        }
      }
    }
  }
}
