.list {
  width: 100%;
  margin-top: 10px;
  position: relative;

  .listTitle {
    color: orange;
    letter-spacing: 2px;
    font-size: 22px;
    font-weight: 400;
    margin-left: 90px;
    font-weight: bold;
    .cinemaPng {
      width: 60px;
      height: 60px;
      position: absolute;
      left: 40px;
      z-index: -1;
      top: -18px;
    }
  }

  .wrapper {
    .sliderArrow {
      width: 50px;
      height: 100%;
      background-color: rgb(22, 22, 22, 0.5);
      color: white;
      position: absolute;
      z-index: 99;
      top: 0;
      bottom: 0;
      margin: auto;
      cursor: pointer;

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }
    }
    .listItemShow {
      margin-left: 50px;
      margin-right: 20px;

      margin-top: 10px;
      width: 95%;
      transition: all 1s ease;
    }
  }
}
