.navbar {
  width: 100%;
  font-weight: bold;
  color: white;
  font-size: 14px;
  position: fixed;
  top: 0;
  z-index: 999;
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
  .logo {
    width: 40px;
    height: 40px;
  }
  &.scrolled {
    background-color: rgba(11, 11, 11, 0.7);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;

    .left {
      display: flex;
      align-items: center;
      flex: 6;
      .linkSelect {
        padding: 20px;
        color: inherit;
      }
      .homePage {
        position: relative;
        .homeIcon {
          position: absolute;
          top: -7px;
          left: -25px;
        }
      }

      .seriesMovies {
        position: relative;
        .tvIcon {
          position: absolute;
          top: -7px;
          left: -25px;
        }
      }

      .singleMovies {
        position: relative;
        .singleIcon {
          position: absolute;
          top: -7px;
          left: -25px;
        }
      }
      img {
        margin-right: 40px;
        object-fit: cover;
        transition: all 0.3s;
        &:hover {
          transform: scale(1.2);
        }
      }
      .itemGenre {
        margin-top: 5px;
      }
      span {
        margin-right: 30px;
        cursor: pointer;
        letter-spacing: 2px;
        transition: all 0.3s ease;

        &:hover {
          color: #ff3c78;
          text-decoration: none;
        }
      }

      .singleFilm {
        cursor: pointer;
        .selectGenre {
          display: none;
          background-color: var(--main-color);
          border-radius: 5px;
        }
        span {
          padding: 10px;
          cursor: pointer;
        }
        &:hover {
          .selectGenre {
            display: flex;
            position: absolute;
            flex-direction: column;
            left: 750px;
          }
        }
      }
    }

    .right {
      display: flex;
      flex: 5;

      .endSearchBarAria {
        .searchBarAria {
          position: absolute;
          top: 12px;
        }
      }
      .endProfileAria {
        position: absolute;
        display: flex;
        top: 20px;
        right: 210px;
        .icon {
          margin: 0px 15px;
          cursor: pointer;
        }
        img {
          width: 40px;
          height: 40px;
          border-radius: 5px;
          object-fit: cover;
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            transform: scale(1.4);
          }
        }
        .profile {
          .options {
            display: none;
            background-color: var(--main-color);
            border-radius: 5px;
          }

          .link {
            font-size: 16px;
            margin-bottom: 15px;
            margin-top: 10px;
          }
          span {
            font-size: 16px;
            padding: 15px;
            cursor: pointer;
          }
          &:hover {
            .options {
              display: flex;
              flex-direction: column;
              position: absolute;
            }
          }
        }
      }
    }
  }
}
