.userInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  width: 80px;
  .userName {
    font-weight: bold;
    color: rgb(184, 118, 118);
    text-align: center;
    position: absolute;
    left: 500px;
  }
  img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
}
