.circleSkeleton {
  background-color: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    position: absolute;
    bottom: 330px;
    right: 400px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.loadSkeleton {
  background-color: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.productSkeleton {
  background-color: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    position: absolute;
    bottom: -1050px;
    right: 950px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
}
.actorSkeleton {
  background-color: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
}
