.actorPages {
  background-color: var(--main-color);
  width: 100%;
  height: 100%;

  .actor-aria {
    .actorSide {
      display: flex;
      margin-top: 200px;
      .leftSide {
        flex: 1.4;
        background-color: #1b1b1b;
        margin-left: 30px;
        height: 600px;

        .actorDetail {
          position: absolute;
          top: 10%;
          left: 100px;
          justify-content: center;
          align-items: center;
          display: flex;
          flex-direction: column;
          color: #fff;

          .actorName {
            font-size: 30px;
            font-weight: bold;
          }
          .actorImg {
            width: 300px;
            height: 300px;
            object-fit: cover;
          }
          .actorNation {
            font-size: 16px;
            font-weight: bold;
          }
          .actorDesc {
            letter-spacing: 1px;
            color: lightgray;
          }
        }
        .someActor {
          border-top: 1px solid #fff;
          display: flex;
          margin-top: 350px;
          justify-content: center;
          h3 {
            position: absolute;
            color: chocolate;
          }
          .someActorPlace {
            margin: 60px 3px 0 3px;
          }
        }
      }
      .rightSide {
        margin: 200px 0 0 30px;
        flex: 4;
        display: flex;
        flex-wrap: wrap;
        .movieActor {
          padding: 5px 5px;
        }
        .titleMovieActorJoin {
          position: absolute;
          font-weight: bold;
          color: #fff;
          top: 300px;
        }
      }
    }
  }
  .footer {
    margin-top: 100px;
  }
}
