.actorPages {
  background-color: var(--main-color);
  width: 100%;
  height: 100%;

  .actor-aria {
    .actorSide {
      display: flex;
      margin-top: 200px;
      .leftSide {
        flex: 1.4;
        background-color: #1b1b1b;
        margin-left: 30px;
        height: 1000px;

        .actorDetail {
          position: absolute;
          top: 10%;
          left: 100px;
          justify-content: center;
          align-items: center;
          display: flex;
          flex-direction: column;
          color: #fff;

          .actorName {
            font-size: 30px;
            font-weight: bold;
          }
          .actorImgAria {
            border-radius: 50%;
            border: 2px solid yellow;
            padding: 5px;
            .actorImg {
              width: 300px;
              height: 300px;
              object-fit: cover;
            }
          }

          .actorNation {
            font-size: 16px;
            font-weight: bold;
          }
          .actorDesc {
            letter-spacing: 1px;
            color: lightgray;
            font-weight: bold;
          }
        }
        .someActor {
          border-top: 1px solid #fff;
          display: flex;
          margin-top: 310px;
          justify-content: center;
          flex-direction: row;
          flex-wrap: wrap;
          h3 {
            position: absolute;
            color: chocolate;
            font-weight: bold;
          }
          .someActorPlace {
            margin: 50px 3px 0 3px;
          }
        }
      }
      .rightSide {
        margin: 150px 0 0 30px;
        flex: 4;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        .movieActor {
          padding: 5px 5px;
          height: 200px;
        }

        .titleMovieActorJoin {
          position: absolute;
          font-weight: bold;
          color: #fff;
          font-size: 40px;
          top: 300px;
        }
      }
    }
  }
  .footer {
    margin-top: 100px;
  }
}
