.login {
  max-width: 100%;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("https://miro.medium.com/max/1400/1*5lyavS59mazOFnb55Z6znQ.png");
  background-size: cover;
  position: relative;
  .top {
    .wrapper {
      padding: 20px 50px;
      display: flex;
      align-content: center;
      justify-content: space-between;

      .logo {
        height: 40px;
      }
    }
  }
  .container {
    max-width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    form {
      width: 440px;
      height: 600px;
      padding: 30px;
      border-radius: 5px;
      background-color: var(--main-color);
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .errorMsg {
        font-size: 14px;
        color: red;
      }
      .signUpLink {
        font-size: 14px;
        color: purple;
        margin-left: 5px;
        text-decoration: none;
      }
      input {
        height: 40px;
        border-radius: 5px;
        background-color: gray;
        color: white;
        padding-left: 10px;
        &::placeholder {
          color: lightgray;
          font-size: 14px;
          font-weight: bold;
        }
      }
      .loginButton {
        height: 50px;
        border-radius: 5px;
        background-color: red;
        color: white;
        border: none;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        &:hover {
          color: rgb(110, 34, 34);
        }
      }

      span {
        color: lightgray;
        font-weight: bold;
        height: 0;
      }
    }
  }
}
