.homeYearMovie {
  background: linear-gradient(to bottom, black 0%, black 100%);
  .categoryYearMovie {
    .cinemaPngMovie {
      width: 70px;
      height: 70px;
      object-fit: cover;
    }

    .yearSelect {
      padding: 5px 0px;
      border-radius: 10px;
      width: 20%;
      text-align: center;
      font-weight: bold;
      background-color: transparent;
      color: rgb(106, 163, 182);
      option {
        font-weight: bold;
      }
      cursor: pointer;
    }
  }

  .pagination {
    align-items: center;
    justify-content: center;
  }

  .footerAria {
    border-top: 1px solid white;
  }
}
