.homeGenreMovie {
  background: linear-gradient(to bottom, black 0%, black 100%);

  .categoryGenreMovie {
    margin-top: 150px;
    .cinemaPngMovie {
      width: 100px;
      object-fit: cover;
    }

    .genreSelect {
      padding: 10px 0px;
      border-radius: 10px;
      width: 20%;
      border: 2px solid #fff;
      text-align: center;
      font-weight: bold;
      background-color: transparent;
      color: rgb(106, 163, 182);
      option {
        font-weight: bold;
      }
      cursor: pointer;
    }
  }
  .pagination {
    align-items: center;
    justify-content: center;
  }
  .footerAria {
    border-top: 1px solid white;
  }
}
