.productList {
  flex: 4;
}

.productListItem {
  display: flex;
  align-items: center;
}

.productListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.productListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.productListEdit:hover {
  transform: scale(1.3);
  transition: all 0.5s;
}

.productListDelete {
  color: red;
  cursor: pointer;
}

.productListDelete:hover {
  transform: scale(1.7);
  transition: all 0.5s;
}
