.sidebar{
    flex:3;
    margin-top: 200px;
    margin-bottom: 50px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.sidebarItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebarTitle{
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid white;;
    border-bottom: 1px solid white;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color:rgb(212, 193, 230);
}

.sidebarItem > img {
    margin-top: 15px;
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.sidebarItem > p {
    padding: 30px;
    font-weight: bold;
    color: aqua;
}

.sidebarList{
    list-style: none;
    margin-bottom: 30px;
    font-weight: bold;
}

.sidebarListItem {
    display: inline-block;
    width:50%;
    margin-top: 15px;
    cursor: pointer;
    font-weight: bold;
}

.sidebarSocial{
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.sidebarSocial > a{
    color: white;
}

.sidebarIcon{
    font-size: 30px;
    margin-left: 15px;
    cursor: pointer;
}