.list {
  flex: 4;
  padding: 20px;
}

.listTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.listTop {
  display: flex;
}

.listTopLeft,
.listTopRight {
  flex: 1;
}

.listTopRight {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.listInfoImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.listInfoTop {
  display: flex;
  align-items: center;
}

.listName {
  font-weight: 600;
  font-size: 30px;
  color: purple;
}

.listInfoBottom {
  margin-top: 10px;
}

.listInfoItem {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.listInfoKey {
  margin-right: 10px;
  color: purple;
  font-weight: bold;
  font-size: 20px;
}

.listInfoValue {
  font-weight: bold;
  font-size: 20px;
}

.listBottom {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.listForm {
  display: flex;
  justify-content: space-between;
}

.listFormLeft {
  display: flex;
  flex-direction: column;
}

.listFormLeft > label {
  margin-bottom: 10px;
  font-size: 20;
  font-weight: bold;
  color: purple;
}

.listFormLeft > input {
  margin-bottom: 10px;
  border: none;
  padding: 5px;
  border-bottom: 2px solid gray;
  font-weight: bold;
  font-size: 16px;
}

.listFormLeft > select {
  margin-bottom: 10px;
}

.listUploadImg {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.listFormRight {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.listUpload {
  display: flex;
  align-items: center;
}

.listButton {
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
